@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body, html{
    margin: 0; /*forma de reset da tela*/
    padding: 0;
    overflow: hidden; /*evita o scroll durante o splash*/
    height: 100%; /*a tela tem um tamanho inteiro*/
}
#splash{
    /*primeiro alinhamos a imagem e os textos no centro usando:*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*definimos as cores*/
    background-color: black;
    color: white;

    /*definimos o tamanho do objeto*/
    width: 100%;
    height: 100%;
    z-index: 1000; /*sobrepõem elemento um sob o outro (profundidade - z)*/

    top: 0%;
    bottom: 0%;
    position: fixed;

    /*adicionamos uma transição suave*/
    transition: opacity 1s ease, visibility 1s ease; /*ease é uma transição que começa devagar, acelera e desacelera*/

    font-family: "Lexend Giga", serif;
}

/*o splash se inicia sem a classe hidden e quando o javascript adiciona elaas regras CSS se aplicam a ela, agindo como um hover*/

#splash.hidden{
    /* então depois das tags javascript rodarem, isso aqui entra em ação
    
    Função do JavaScript:
    setTimeout(() => {
    splash.classList.add("hidden");

    */
    opacity: 0;
    visibility: hidden;
}
#logo{
    width: 150px; /*tamanho da fonte*/
}

#content{
    /* O conteudo da página principal começa oculto*/
    display: none;
    padding: 20px;
}
/*Depois que algun recurso ou eventos terminem, o javascript aciona a classe content-loaded ao body, ativando as regras do css abaixo:*/
body.content-loaded #content{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
    background-color: rgb(0, 0, 0);
}
#navbar{
    color: white;
    font-family: "Josefin Sans", serif;

}
#navbar, li, a{
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 25px;
}
li, a{
    position: relative;
    right: 18px;
}
li, a:hover{
    color: rgb(255, 171, 103);
}
#pessoal{
    display: flex;
    align-items: center;
    justify-content: center;
}
#pessoal, img{
    height: 500px;
    padding: 55px;
}